extends layout

block content
    link(href='/css/extends/signin.css', rel='stylesheet')
    body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .row
        .col-sm-6
          .col-sm-1
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index') Database-Project
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='index') Site
              li.active
                a(href='about') About
        .col-sm-5
        .col-sm-1
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#') Guest
    .container
      .starter-template
        br
        h1 About Group
        br
        br
        br
        .row
          .col-sm-4
            h4 Group Name 
            button.btn.btn-lg.btn-success(type='button') GGEZ 
          .col-sm-4
            h4 Group Member
            p.lead
              | 5730196321 ดนุภัทร คำนวนสินธุ์ 
              br
              | 5730399421 พิชญุตม์ พฤฒิพฤกษ์ 
              br
              | 5731045421 ธนภัทร อารีจิตสกุล  
              br
              | 5731047721 ธนะ กิจกุลอนันตเอก
              br
              | 5731048321 ธนิน ตันเฉี่ยง
          .col-sm-4
            h4 Reference Link
            a(href="https://goo.gl/UBcEYl") Project-InitialReport
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src=`${pathToAssets}/dist/js/bootstrap.min.js`)
