extends layout

block content
    link(href='/css/extends/signin.css', rel='stylesheet')
    body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .row
        .col-sm-6
          .col-sm-1
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index') Database-Project
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='index') Site
              li
                a(href='about') About
        .col-sm-5
        .col-sm-1
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#') Guest
    .container
      .starter-template
        .col-sm-2
        .col-sm-8(align='center')
          br
          h2 :( Unauthorized access is strictly prohibited.
          h4 Please Login First!
          br
          a(href="/index") 
            button.btn.btn-lg.btn-default(type='button') OK! I understand
        .col-sm-2
        
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src=`${pathToAssets}/dist/js/bootstrap.min.js`)
