extends layout

block content
    link(href='/css/extends/starter-template.css', rel='stylesheet')
    link(href='/css/extends/login.css', rel='stylesheet')
    body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .row
        .col-sm-6
          .col-sm-1
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index') Database-Project
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Site
              li
                a(href='about') About
        .col-sm-5
        .col-sm-1
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#') Guest
    .container
      br
      br
      .row
        .col-sm-2
          nav.navbar.navbar-default.sidebar(role='navigation')
            .container-fluid
              ul.nav.navbar-nav
                li
                  a(href='index')
                    | Welcome &nbsp; 
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-asterisk(style='font-size:16px;')
                li
                  a(href='login_staff')
                    | Staff &nbsp; 
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-wrench(style='font-size:16px;')
        .col-sm-6
          .container-fluid
            h2 Welcome to Database Query System
            h4 Computer Engineering, Chulalongkorn University
            br
            br
            h4 Terms and Conditions
            p
              | &nbsp; This site was created by GG-EZ Group for Database Project 2017 uses only.
            br
            br
            br
            br
            br
            br
            font(color='red') ** Unauthorized access is strictly prohibited.
        .col-sm-4
            .formholder
              .randompad
                form(action='/authenticate_prof', method='post')
                  h3 Authentication
                  br
                  | Professor Abbreviation 
                  input(name='username',type='username',onkeypress='return event.charCode < 48 || event.charCode > 57' ,placeholder='3 characters', value = 'PFS')
                  | Password
                  input(name='password',type='password',placeholder='Password', value='ggez')
                  br
                  | * Clicking "Login" mean agree to the agreement and privacy and cookies statement.
                  br
                  br
                  input(type='submit', value='Login')
      script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='js/login.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src=`${pathToAssets}/dist/js/bootstrap.min.js`)
