extends layout

block content
    link(href='/css/extends/starter-template.css', rel='stylesheet')
    link(href='/css/extends/stickynote.css', rel='stylesheet')
    body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .row
        .col-sm-6
          .col-sm-1
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index') Database-Project
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Site
              li
                a(href='about') About
        .col-sm-4
        .col-sm-2
          .col-sm-2
          .col-sm-10
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='#') #{user_val}
    .container
      br
      br
      .row
        .col-sm-2
          nav.navbar.navbar-default.sidebar(role='navigation')
            .container-fluid
              ul.nav.navbar-nav
                li
                  a(href='#')
                    font(class="text-primary") | Home &nbsp; 
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;' class="text-primary")
                li
                  a(href='profile_staff')
                    | Profile &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
                li      
                  a(href='report_staff')
                    | Report &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-stats(style='font-size:16px;')
                li
                  a(href='search_info')
                    | Search &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-search(style='font-size:16px;')
                li      
                  a(href='edit_record')
                    | Edit Record &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-wrench(style='font-size:16px;')
                li
                  a(href='/logout')
                    | Logout &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-log-out(style='font-size:16px;')
        .col-sm-10
          .container-fluid
            h1 Welcome back! &nbsp;
            a(href='profile_staff')
              font(class='text-primary' size = '6')= 'Staff. ' + results[0].info+' '+results[1].info
            br
            br
            | Please select menu on navigation stack at the left side.
            br
            br
            br
            br
            br
            br
            br
            br
            .row
              .col-sm-8
                .col-sm-3(align="center")
                  h4 Faculty
                  button.btn.btn-md.btn-default(type='button')
                    = results[3].info
                .col-sm-3(align="center")
                  h4 Department
                  button.btn.btn-md.btn-default(type='button')
                    = results[4].info
                .col-sm-1
                .col-sm-4(align="center")
                  h4 Position
                  button.btn.btn-md.btn-default(type='button') 
                    = results[2].info
            



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="js/bootstrap.min.js")
